#layout-content {
  margin: 1rem 0px 0px 0px;
}

.nav-username {
  margin-left: 5px;
  margin-right: 5px;
}

#site-nav {
  position: fixed;
  left: 0px;
  top: 0px;
}

#group-admin-nav {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

#home-greeting {
  height: 33rem;
  padding-top: 10rem;

  & > h1 {
    font-size: 3rem;
  }
}

#home-description {
  height: 40rem;
}

#home-teasers {
  height: 80rem;
}

#loading {
  height: 40rem;
}

.ui.not.padded.segment {
  padding: 0px;
}

@media only screen and (max-width: 700px) {
  .desktop-text {
    display: none;
  }

  #home-description {
    height: 30rem;
  }

  #home-teasers {
    height: 100rem;
  }
}
